.png=/icons/png-256_32.png
.accdb=/icons/accdb-256_32.png
.avi=/icons/avi-256_32.png
.bmp=/icons/bmp-256_32.png
.css=/icons/css-256_32.png
.docx=/icons/docx_mac-256_32.png
.doc=/icons/docx_mac-256_32.png
.eml=/icons/eml-256_32.png
.eps=/icons/eps-256_32.png
.fla=/icons/fla-256_32.png
.gif=/icons/gif-256_32.png
.html=/icons/html-256_32.png
.htm=/icons/html-256_32.png
.ind=/icons/ind-256_32.png
.ini=/icons/ini-256_32.png
.jpeg=/icons/jpeg-256_32.png
.jsf/icons/jsf-256_32.png
.midi=/icons/midi-256_32.png
.mov=/icons/mov-256_32.png
.mp3=/icons/mp3-256_32.png
.mpeg=/icons/mpeg-256_32.png
.pdf=/icons/pdf-256_32.png
.pptx=/icons/pptx_mac-256_32.png
.ppt=/icons/pptx_mac-256_32.png
.proj=/icons/proj-256_32.png
.psd=/icons/psd-256_32.png
.pst=/icons/pst-256_32.png
.pub=/icons/pub-256_32.png
.rar=/icons/rar-256_32.png
.rtf=/icons/rtf-256_32.png
.tiff=/icons/tiff-256_32.png
.txt=/icons/txt-256_32.png
.url=/icons/url-256_32.png
.vsd=/icons/vsd-256_32.png
.wav=/icons/wav-256_32.png
.wma=/icons/wma-256_32.png
.wmv=/icons/wmv-256_32.png
.xlsx=/icons/xlsx_mac-256_32.png
.xls=/icons/xlsx_mac-256_32.png
.zip=/icons/zip-256_32.png
.ape=/icons/ape.png
.au3=/icons/au3.png
.bat=/icons/bat.png
.bin=/icons/bin.png
.cab=/icons/cab.png
.chm=/icons/chm.png
.dll=/icons/dll.png
.f4v=/icons/f4v.png
.flac=/icons/flac.png
.flv=/icons/flv.png
.gif2=/icons/gif2.png
.hlp=/icons/hlp.png
.jpg=/icons/jpg.png
.mid=/icons/mid.png
.mkv=/icons/mkv.png
.mp4=/icons/mp4.png
.mpg=/icons/mpg.png
.m3u=/icons/playlist.png
.swf=/icons/swf.png
.theme=/icons/theme.png
.tif2=/icons/tif2.png
.tiff2=/icons/tiff2.png
