.doc=/usr/bin/libreoffice
.docx=/usr/bin/libreoffice
.xls=/usr/bin/libreoffice
.xlsx=/usr/bin/libreoffice
.ppt=/usr/bin/libreoffice
.pptx=/usr/bin/libreoffice
.pdf=/usr/bin/okular
.txt=/usr/bin/kate
.mp4=/usr/bin/vlc
.mp3=/usr/bin/vlc
.png=/usr/bin/gwenview
.jpeg=/usr/bin/gwenview
.jpg=/usr/bin/gwenview
.gif=/usr/bin/gwenview
.html=/usr/bin/firefox
.htm=/usr/bin/firefox
.zip=/usr/bin/ark
.gz=/usr/bin/ark
.tgz=/usr/bin/ark